
/* section four */
.section-head h1,p{
    text-align:center;
    margin-bottom:1rem;
}
.section-four .section-four-items{
    display:flex;
    flex-direction:column;
    text-align:center;
    border-radius:20px;
    gap:1rem;
}
.section-four .items{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:3rem;
    background:rgba(208,218,236,.501960784313725);
    gap:1rem;
    
  }
  .section-four .items img{
    width:30px;
    height:30px;
    background:blue;
    color:white;
  }
  .section-four .items .icon{
    background:#278bb0;
    color:white;
    padding:0.8rem;
    border-radius:50%;
  }




  /* hgjkljh */

  @media screen and (min-width: 768px) {

  .section-four{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
  }

  .section-four .section-four-items{
   display:flex;
   justify-content:center;
   flex-wrap:wrap;
   flex-grow:1;
   gap:2rem;
  }

  .section-four .section-head{
    text-align:center;
    margin-bottom:2rem;
  }

  .section-four .section-head h1{
    font-size:2rem;
    text-transform:none;
    color:black;
  }
  .section-four .section-head p{
    text-transform:none;
    font-size:0.8rem;

  }
  .section-four img{
    width:20px;
    height:20px;
  }
  .section-four .items{
   padding:3rem 1rem;
   border:1px solid blue;
   background:rgba(208,218,236,.501960784313725);
   width:280px;
   text-align:center;
   border-radius:20px;

  }

  .section-four .section-four-items h6{
    font-size:1rem;
    margin:0.7rem;
    font-weight:normal;
    color:#505050	;
  }
  .section-four .section-four-items p{
     color:grey;
     font-size:0.7rem;
   }

}