@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: black;
}

section {
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .container{
     width:100%;
  }
}